.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.switch-link {
  margin-top: 10px;
  color: #fda085;
  cursor: pointer;
  font-size: 14px;
}

.switch-link:hover {
  color: #f6d365;
  text-decoration: underline;
}
